@import "./../../../../css/index.css";

.menu {
		width: 300px;
}

.title {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	font-feature-settings: "pnum" on, "lnum" on;
	color: var(--color-dark);
}

@media screen and (max-width: 800px) {
	.menu {
		min-width: 300px;
	}
}
