@import './../../../css/index.css';

.cart {
	margin: 30px 50px;
	border-radius: 20px;
	border: solid 1px var(--color-v-light-blue);
}

@media screen and (max-width: 800px) {
	.cart {
	margin: 30px 20px;
	}
}
