@import "./../../../../css/index.css";

.bar {
	display: flex;
	align-items: flex-start;
	position: relative;
	height: 100px;
	padding: 27px 20px 23px 57px;
	overflow: hidden;
	border-radius: 20px;
	border-bottom: 1px solid var(--color-v-light-blue);
}

.bar::before {
	content: '';
	position: absolute;
	width: 165px;
	height: 100px;
	top: 0;
	right: 20px;
	z-index: -10;
	background-image: url('./../../../../img/cart.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

.product-name {
	margin-right: 110px;
	font-weight: 600;
	font-size: 20px;
	line-height: 130%;
	font-feature-settings: "pnum" on, "lnum" on;
}

.btn {
	width: 214px;
	height: 51px;
}

.wrap {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1366px) {
	.product-name {
		margin-right: 20px;
	}
}

@media screen and (max-width: 800px) {
	.bar {
	align-items: center;
	justify-content: space-between;
		padding: 27px 20px 23px 20px;
	}
	
}

@media screen and (max-width: 768px) {
	.bar {
	}
	.wrap {
		padding-top: 16px;
	}
}

@media screen and (max-width: 600px) {
	.bar {
		height: auto;
    padding-top: 0;
		padding-left: 24px;
	}
	.wrap {
		flex-flow: column wrap;
		align-items: flex-start;
	}
	.wrap > :first-child {
		margin-bottom: 24px;
	}
}
