@import './../../../../css/colors.css';

.property {
	display: flex;
	justify-content: space-between;
	height: 16px;
	margin-bottom: 2px;
	font-size: 12px;
	line-height: 16px;
}

.title {
	width: 120px;
}

.value {
	width: 100%;
	text-align: right;
	transition: all ease-in-out 0.2s;
}

.value.load {
	border-radius: 6px;
	background: #f9f9f9;
	color: #f9f9f9;
}
