.product-card {
	display: flex;
	flex-flow: column wrap;
	width: 214px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.header {
	width: 214px;
	height: 138px;
	margin-bottom: 8px;
	text-align: center;
	overflow: hidden;
}

.cover {
	width: 214px	
}

.title {
	min-height: 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
}
