@import './../../../../../../css/index.css';

.time {
	position: relative;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	font-feature-settings: "pnum" on, "lnum" on;
	color: var(--color-gray);
}


