@import './../../css/index.css';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	padding: 20px 20px 12px 50px;
	width: 100%;
	max-width: var(--content-size);
	z-index: 40;
	background: #fff;
}

.header__wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.wrap {
	display: flex;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
	.header {
		max-width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		padding: 20px 20px 12px 20px;
		}
}

@media screen and (max-width: 600px) {
	.header {
		position: fixed;
		height: 100vh;
		top: 0;
		bottom: 0;
		left: 0;
		justify-content: flex-start;
		align-items: flex-start;
		width: calc(100% - 100px);
		flex-flow: column wrap;
		padding: 72px 20px 12px 20px;
		visibility: hidden;
		background: #282c34;
		color: #fefefe !important;
	}
	.header > :first-child {
		margin: 20px 20px 0 24px;
	}
	.header.open {
		visibility: visible;
		}
	.header__wrap {
		flex-flow: column wrap;
		align-items: flex-start;
	}
	.header__wrap > {
		display: flex;
		flex-flow: column wrap;
	flex-grow: 1;
	}
	.wrap {
		display: none;
	}
}
