@import "./../../css/index.css";

.right-side {
	position: relative;
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	padding: 20px 16px 0 24px;
	max-width: 351px;
}

@media screen and (max-width: 1366px) {
	.right-side {
		padding-top: 90px;
	}
}

@media screen and (max-width: 1024px) {
	.right-side {
		max-width: 100%;
	}
}
