:root {
	--color-white: #ffffff;
	--color-light: #F0F4FB;
	--color-blue: #2F80ED;
	--color-v-light-blue: #AEC2EA;
	--color-light-blue: #727280;
	--color-accent-blue: #2967FF;
	--color-green: #58CF18;
	--color-orange: #FFA601;
	--color-pink: #FF7CB4;
	--color-dark-pink: #FF2D87;
	--color-dark: #2D2D2F;
	--color-gray: #727280;
	--color-dark-gray: #8D8D8E;
	--color-light-gray: #F8F8F8;
	--color-black: #000000;
	--color-white: #ffffff;
}
