/* smaller, dark, rounded square */
.flickity-button {
  background: #fff;
}
.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  position: absolute;
  top: 0;
  border: none;
  width: 20px;
  height: 24px;
}
/* icon color */
.flickity-button-icon {
  fill: brown;
}
/* position outside */
.flickity-prev-next-button.previous {
  border-radius: 0 5px 5px 0;
  left: 0;
}
.flickity-prev-next-button.next {
  border-radius: 5px 0 0 5px;
  right: 0;
}
