.wrapper {
	display: flex;
	width: 100%;
	max-width: var(--page-size);
	margin: 0 auto;
}

.content {
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	max-width: var(--content-size);
}

.right-side {
	display: flex;
	flex-flow: column wrap;
}

@media screen and (max-width: 1024px) {
	.content {

	}
}
